@if (isLoading) {
  <div class="preloader">
    <div class="preloader__spinner"></div>
    <p class="preloader__text">Загрузка...</p>
  </div>
} @else {
  <div class="hero-container">
    <header class="header">
      <div class="super-header">
        <div class="company-logo">
          <img class="logo-img" src="/images/mountains-icon.svg" alt="mini-mountains" />
          <h1 class="company-name">{{ companyName }}</h1>
        </div>
        <nav class="main-navigation">
          <ul>
            <li><a>Главная</a></li>
            <li><a>Про гида</a></li>
            <li><a>Программа тура</a></li>
            <li><a>Стоимость</a></li>
            <li><a>Блог</a></li>
            <li><a>Контакты</a></li>
          </ul>
        </nav>
        <button class="main-button">Консультация</button>
      </div>
      @if (showCounter) {
        <div class="header-counter">
          <div class="counter-container">
            <button
              class="counter-btn counter-btn-minus"
              (click)="decreaseClicks()"
              [disabled]="clickCount === 0"
            >
              -
            </button>
            <span class="counter-value">{{ clickCount }}</span>
            <button class="counter-btn counter-btn-plus" (click)="increaseClicks()">+</button>
          </div>
        </div>
      } @else {
        <div class="header-timer">
          <span>{{ currentDateTime | date: 'dd.MM.yyyy HH:mm:ss' }}</span>
        </div>
      }
      <div class="trigger-section">
        <button class="trigger-btn" (click)="toggleTimerCounter()">
          {{ showCounter ? 'Показать дату' : 'Показать кликер' }}
        </button>
      </div>
    </header>

    <section class="main-page">
      <p class="main-title">Насладись прогулкой в горах с командой единомышленников</p>
      <form class="search-form">
        <div class="search-container">
          <div class="main-inputs">
            <input
              list="destinations"
              id="locations"
              class="custom-input"
              name="location-to"
              placeholder="Локация для тура"
              [(ngModel)]="tourLocation"
            />
            <label for="locations">выберите из списка</label>

            <datalist id="destinations">
              @for (tour of tours.getAll(); track tour) {
                <option value="{{ tour }}"></option>
              }
            </datalist>
          </div>

          <div class="main-inputs">
            <input
              type="text"
              onfocus="this.type = 'date'"
              onblur="this.type = 'text'"
              id="trip-date"
              class="custom-input"
              name="date"
              placeholder="Выберите дату"
              [(ngModel)]="tourDate"
            />
            <label for="trip-date">укажите дату</label>
          </div>

          <div class="main-inputs">
            <input
              list="participants"
              id="members"
              class="custom-input"
              name="members"
              placeholder="Участники"
              [(ngModel)]="tourMembers"
            />
            <label for="members">выберите из списка</label>

            <datalist id="participants">
              @for (member of members.getAll(); track member) {
                <option value="{{ member }}"></option>
              }
            </datalist>
          </div>
          <button class="form-button" [disabled]="!tourLocation || !tourDate || !tourMembers">
            Найти программу
          </button>
        </div>
      </form>
      <div class="live-container">
        <div class="live-section">
          <input type="text" class="live-input" placeholder="Живой инпут" [(ngModel)]="liveInput" />
        </div>
        @if (liveInput) {
          <h4 class="live-title">{{ liveInput }}</h4>
        }
      </div>
    </section>
  </div>

  <section class="aboutHike">
    <div class="imageHike">
      <img class="img-mountain" src="/images/snow-mountain-pic.png" alt="snow-mountain" />
      <div class="img-village"></div>
    </div>
    <div class="infoHike">
      <div class="textHike">
        <h2>о нашем походе</h2>
        <p>Исследуйте все горные массивы мира вместе с нами</p>
      </div>
      <p class="descrHike">
        Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух
        тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат
        Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его
        поисками в классической латинской литературе.
      </p>
      <button class="tour-btn">Программа тура</button>
    </div>
  </section>

  <section class="tour-program">
    @for (program of tourProgram; track program.id) {
      <div class="tour-program_container">
        <div class="tour-program_descr">
          <p>{{ program.label }}</p>
          <h2>{{ program.title }}</h2>
        </div>
        <p class="tour-program_text">{{ program.description }}</p>
        @for (feature of program.features; track feature.id) {
          <div class="feature-item">
            <img [src]="feature.img" [alt]="feature.title" class="feature-item__icon" />
            <div class="feature-item__text">
              <h4>{{ feature.title }}</h4>
              <p>{{ feature.desc }}</p>
            </div>
          </div>
        }
        <button class="tour-program_btn">{{ program.buttonText }}</button>
      </div>
    }
    <div class="pic-container"></div>
  </section>
}
