<div class="hero-container">
  <section class="main-page">
    <p class="main-title">Насладись прогулкой в горах с командой единомышленников</p>
    <form class="search-form">
      <div class="search-container">
        <div class="main-inputs">
          <input
            list="destinations"
            id="locations"
            class="custom-input"
            name="location-to"
            placeholder="Локация для тура"
            [(ngModel)]="tourLocation"
          />
          <label for="locations">выберите из списка</label>

          <datalist id="destinations">
            @for (tour of tours.getAll(); track tour) {
              <option value="{{ tour }}"></option>
            }
          </datalist>
        </div>

        <div class="main-inputs">
          <input
            type="text"
            onfocus="this.type = 'date'"
            onblur="this.type = 'text'"
            id="trip-date"
            class="custom-input"
            name="date"
            placeholder="Выберите дату"
            [(ngModel)]="tourDate"
          />
          <label for="trip-date">укажите дату</label>
        </div>

        <div class="main-inputs">
          <input
            list="participants"
            id="members"
            class="custom-input"
            name="members"
            placeholder="Участники"
            [(ngModel)]="tourMembers"
          />
          <label for="members">выберите из списка</label>

          <datalist id="participants">
            @for (member of members.getAll(); track member) {
              <option value="{{ member }}"></option>
            }
          </datalist>
        </div>
        <button class="form-btn button" [disabled]="!tourLocation || !tourDate || !tourMembers">
          Найти программу
        </button>
      </div>
    </form>
    <div class="live-container">
      <div class="live-section">
        <input type="text" class="live-input" placeholder="Живой инпут" [(ngModel)]="liveInput" />
      </div>
      @if (liveInput) {
        <h4 class="live-title">{{ liveInput }}</h4>
      }
    </div>
  </section>
</div>

<section class="aboutHike">
  <div class="imageHike">
    <img class="img-mountain" src="/images/snow-mountain-pic.png" alt="snow-mountain" />
    <div class="img-village"></div>
  </div>
  <div class="infoHike">
    <div class="textHike section-title">
      <h2>о нашем походе</h2>
      <p>Исследуйте все горные массивы мира вместе с нами</p>
    </div>
    <p class="descrHike">
      Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух
      тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат
      Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками
      в классической латинской литературе.
    </p>
    <button class="tour-btn button" (click)="triggerAlert('Программа недоступна', MsgTypes.WARN)">
      Программа тура
    </button>
  </div>
</section>

<section class="tour-program">
  @for (program of tourProgram; track program.id) {
    <div class="tour-program_container">
      <div class="tour-program_descr section-title">
        <h2>{{ program.title }}</h2>
        <p>{{ program.label }}</p>
      </div>
      <p class="tour-program_text">{{ program.description }}</p>
      @for (feature of program.features; track feature.id) {
        <div class="feature-item">
          <img [src]="feature.img" [alt]="feature.title" class="feature-item__icon" />
          <div class="feature-item__text">
            <h4>{{ feature.title }}</h4>
            <p>{{ feature.desc }}</p>
          </div>
        </div>
      }
      <button
        class="tour-program_btn button"
        (click)="triggerAlert('Стоимость отправлена на почту', MsgTypes.INFO)"
      >
        {{ program.buttonText }}
      </button>
    </div>
  }
  <div class="pic-container"></div>
</section>

<section class="popular-routes">
  <div class="popular-destinations section-title">
    <h2>по версии отдыхающих</h2>
    <p>Популярные направления</p>
  </div>
  <div class="popular-routes__grid">
    <div class="route-card route-card--lake">
      <div class="route-card__rating"><span class="star-icon"></span> 4.9</div>
      <div class="route-card__content">
        <div class="route-card__text">
          <h3 class="route-card__title">Озеро возле гор</h3>
          <p class="route-card__desc">романтическое приключение</p>
        </div>
        <div class="route-card__price">480 &#36;</div>
      </div>
    </div>
    <div class="route-card route-card--night">
      <div class="route-card__rating"><span class="star-icon"></span> 4.5</div>
      <div class="route-card__content">
        <div class="route-card__text">
          <h3 class="route-card__title">Ночь в горах</h3>
          <p class="route-card__desc">в компании друзей</p>
        </div>
        <div class="route-card__price">500 &#36;</div>
      </div>
    </div>
    <div class="route-card route-card--stretching">
      <div class="route-card__rating"><span class="star-icon"></span> 5.0</div>
      <div class="route-card__content">
        <div class="route-card__text">
          <h3 class="route-card__title">Растяжка в горах</h3>
          <p class="route-card__desc">для тех, кто забоится о себе</p>
        </div>
        <div class="route-card__price">230 &#36;</div>
      </div>
    </div>
  </div>
  <button
    class="routes-btn button"
    (click)="triggerAlert('Направления получены', MsgTypes.SUCCESS)"
  >
    Рейтинг направлений
  </button>
</section>

<section class="travel-blog">
  @for (info of infoCities; track info.id) {
    <div class="travel-blog__header section-title">
      <h2>{{ info.title }}</h2>
      <p>{{ info.label }}</p>
    </div>
    <div class="travel-blog__grid">
      @for (feature of info.features; track feature.id) {
        <div class="travel-blog__card">
          <img [src]="feature.img" alt="something" class="travel-blog__img" />
          <div class="travel-blog__content">
            <h3>{{ feature.title }}</h3>
            <p>{{ feature.desc }}</p>
            <div class="travel-blog__text">
              <span>{{ feature.date }}</span>
              <span>{{ feature.link }}</span>
            </div>
          </div>
        </div>
      }
    </div>
    <button
      class="travel-blog__btn button"
      (click)="triggerAlert('Материалы недоступны', MsgTypes.ERROR)"
    >
      {{ info.buttonText }}
    </button>
  }
</section>

<section class="photo-report__container">
  @for (photo of photoReport; track photo.id) {
    <div class="report-title section-title">
      <h2>{{ photo.title }}</h2>
      <p>{{ photo.label }}</p>
    </div>
    <div class="report-pictures__container">
      @for (picture of photo.pictures; track picture.id) {
        <div class="report-picture-card">
          <img [src]="picture.img" alt="" />
        </div>
      }
    </div>

    <button class="pinterest-btn button">{{ photo.buttonText }}</button>
  }
</section>
